<?xml version="1.0" encoding="utf-8"?>
<connectionStrings configBuilders="SitecoreConnectionStringsBuilder">
  <!-- 
    Sitecore connection strings.
    All database connections for Sitecore are configured here.
  -->
  <add name="core" connectionString="user id=user;password=password;Data Source=(server);Database=Sitecore_Core" />
  <add name="security" connectionString="user id=user;password=password;Data Source=(server);Database=Sitecore_Security" />
  <add name="master" connectionString="user id=user;password=password;Data Source=(server);Database=Sitecore_Master" />
  <add name="web" connectionString="user id=user;password=password;Data Source=(server);Database=Sitecore_Web" />
  <add name="sessions" connectionString="user id=user;password=password;Data Source=(server);Database=Sitecore_Sessions" />
  <add name="azureblob" connectionString="integrated security=true;data source=;database=" />
  <add name="solr.search" connectionString="https://localhost:8998/solr" />
  <add name="sitecoreidentity.secret" connectionString="Set client secret for Sitecore Identity server here." />
  <add name="experienceedge" connectionString="Set the connection string for the experience edge" />
  <add name="CMP.ContentHub" connectionString="ClientId={client_id};ClientSecret={client_secret};UserName={username};Password={password};URI={uri};"/>
  <add name="CMP.ServiceBusEntityPathIn" connectionString="{Azure Service Bus connection string with incoming topic}"/>
  <add name="CMP.ServiceBusSubscription" connectionString="{Subscription name}"/>
  <add name="CMP.ServiceBusEntityPathOut" connectionString="{Azure Service Bus connection string with outcoming topic}"/>
  <add name="DAM.ContentHub" connectionString="ClientId={client_id};ClientSecret={client_secret};UserName={username};Password={password};URI={uri};"/>
  <add name="DAM.SearchPage" connectionString="{Content Hub search page URI}"/>
  <add name="DAM.ExternalRedirectKey" connectionString="{External redirect key}"/>
  <add name="cloud.search" connectionString="{cloud.search}" /> 
</connectionStrings>